



<div class="row top-50">
  <p class="text-center  mb-sm-5 fs-3">Bienvenue chez SOUTRAMOI</p>
  <div class="col-md-2 col-sm-4 offset-md-4 offset-sm-2 mb-3 mb-sm-5 ">
    <a routerLink="/signupClient"><div class="card">
      <img src="../../../assets/prestataire.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">J'ai besoin d'un service</p>
      </div>
    </div></a>
  </div>
  <div class="col-md-2 col-sm-4">
   <a routerLink="/signupPrestataire"><div class="card">
    <img src="../../../assets/client-signup.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Devenir prestataire</p>
    </div>
  </div></a>
  </div>
  <p class="text-center fs-5 mb-sm-5"> Avez-vous dejà un compte? <a routerLink="/signin">Connexion</a></p>
  <div class="col-sm-8  offset-sm-2 text-center fs-3 mb-sm-5 text-black border-bottom ">
   <h2>Ils parlent de nous</h2>
  </div>
  <div class="col-sm-2  offset-sm-2 mb-3 mb-sm-5 ">
    <div class="card">
      <img src="../../../assets/awe.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-2   mb-3 mb-sm-5 ">
    <div class="card">
      <img src="../../../assets/orange_corners.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-2   mb-3 mb-sm-5 ">
    <div class="card">
      <img src="../../../assets/baab.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm-2  mb-3 mb-sm-5 ">
    <div class="card">
      <img src="../../../assets/startup.png" class="card-img-top" alt="...">
    </div>
  </div>

</div>
