<div class="col-6 col-md-3 offset-md-4 mb-5 top-50">
  <p class="text-center fs-3">Soucrivez à notre abonnement</p>

  <form>

    <div class="col-12  mb-3">
      <label for="InputLastname" class="form-label">Nom</label>
      <input type="text" class="form-control" id="InputLastname" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputFirstname" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="InputFirstname" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputService" class="form-label">Service  Souscris</label>
      <input type="text" class="form-control" id="InputService" aria-describedby="emailHelp">
    </div>

    <div class="col-12  mb-3">
      <label for="InputVille" class="form-label">Ville</label>
      <input type="text" class="form-control" id="InputVille" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputCommune" class="form-label">Commune</label>
      <input type="text" class="form-control" id="InputCommune" aria-describedby="emailHelp">
    </div>

    <div class="col-12  mb-3">
      <label for="InputTelephone" class="form-label">Téléphone</label>
      <input type="text" class="form-control" id="InputTelephone" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">

    </div>

    <div class="col-12  form-check">
      <input type="checkbox" class="form-check-input" id="Check1">
      <label class="form-check-label mb-5" for="Check1">J’accepte les <a routerLink="/conditions">termes et conditions</a></label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
       <button type="submit" class="btn btn-primary mb-5 btn-lg">souscricre</button>
    </div>
  </form>



  </div>

