<div class="col-6 col-md-3 offset-md-4 mb-5 top-50">
  <p class="text-center fs-3">Connectez-vous</p>

  <form>

    <div class="col-12  mb-3">
      <label for="exampleInputEmail1" class="form-label">Email </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="col-12  mb-3">
      <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="col-12  mb-3 form-check">

      <label ><input type="checkbox" /><span>Check me out</span></label>

    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
    <!--<button type="submit" class="btn light-blue accent-2 mb-5 btn-lg">se connecter</button>-->
    <button class="btn light-blue accent-2 waves-effect waves-light" type="submit" name="action">Se connecter
      <i class="material-icons right">send</i>
    </button>
  </div>
  </form>

  <p class="text-center fs-5 top-50"> Pas encore de compte?<a routerLink="/signup"> Incrivez vous</a></p>

  </div>

