<div class="container text-center">
  <div class="row">
    <div class="col border border-black">
      <div class="col me-5" style="">
        <img src="../../../assets/me1.png" class="card-img-top ps-5 pt-5" alt="..." style="width: 18rem;">
        <p class="col mt-4">Bonjour Je suis Jordan Kouamé menuisier expérimenté(8ans).  J’ai des Compétences en Travail du Bois, en Lecture de Plans, en Conception, en Mesure et Précision. </p>
        <button  routerLink="/profil" class="btn btn-primary  mb-5 btn-lg me-2">Demander un service de menuiserie</button>
    </div>
    </div>
    <div class="col mt-5 ms-5 border-bottom ">
      <div class="col  ">
        <div class="col me-5" >
         <p class="text-start fs-4  fw-bold"> Diplome et expérience</p>
          <p class="col text-start fs-5 mt-1">2 à 4 ans expérience</p>
          <p class="text-start fs-4 mt-4 fw-bold">Mes engagements  clients</p>
          <div class="container text-center">
            <div class="row text-start fs-5 mt-1">
              <div class="col">
                <img src="../../../assets/pouce.png" alt="..." > Résultat impecable
              </div>
              <div class="col">
                <img src="../../../assets/muscle.png" alt="..." > Dynamique
              </div>
              <div class="col">
                <img src="../../../assets/smile.png" alt="..." > Souriant
              </div>
            </div>
          </div>
          <p class="text-start fs-4 mt-4 fw-bold">Compliments reçu</p>
          <div class="container text-center">
            <div class="row text-start fs-5 mt-2">
              <div class="col">
                <img src="../../../assets/c1.png" alt="..." > <br/>Excellent relationnel
              </div>
              <div class="col">
                <img src="../../../assets/c2.png" alt="..." ><br/>Super matériel
              </div>
              <div class="col">
                <img src="../../../assets/c3.png" alt="..." ><br/>Très efficace
              </div>
              <div class="col">
                <img src="../../../assets/c4.png" alt="..." ><br/>Travail Soigné
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="text-start fs-3 mt-5 fw-bold">Avis et Commentaires <br/><img src="../../../assets/etoile.png" alt="..." > 4.5</div>
  <div class="container text-center mb-5">

    <div class="row mt-5">
      <div class="col-4"> <img src="../../../assets/cli1.png" alt="..." ><br/><span class="fw-bold">Elsa</span><br/>
        Il y a 2 mois</div>
      <div class="col-8"> <p class="fs-5  fw-bold">Réparation de portes</p>
        <p><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ></p>
        <p>Très bon travail et très bon relationnel. Je recommande !</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4"> <img src="../../../assets/cli2.png" alt="..." ><br/><span class="fw-bold">David</span><br/>
        Il y 3mois</div>
      <div class="col-8"> <p class="fs-5  fw-bold">Fabrication de meubles</p>
        <p><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ></p>
        <p>Bon travail dans l'ensemble malgré un retard</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4"> <img src="../../../assets/cli3.png" alt="..." ><br/><span class="fw-bold">Aissat</span>
        <br/>  Il y 6mois</div>
      <div class="col-8"> <p class="fs-5  fw-bold">Réparation de fénêtre</p>
        <p><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ><img src="../../../assets/etoile.png" alt="..." ></p>
        <p>Travail soigné et très efficace. Merci beaucoup !</p>
      </div>
    </div>
  </div>
