
<div class="container-fluid ">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="../../../assets/logo.png" style="width: 100px;">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 lh-lg fs-5  ">
    <!--<li><a routerLink="service" class="nav-link px-3 llink-dark">Demander un service</a></li>-->

      <li><a routerLink="signupPrestataire" class="nav-link px-3 link-dark">Devenir Prestataire</a></li>
      <li><a routerLink="/abonnement" class="nav-link px-3 link-dark">S'abonner</a></li>
      <li><a routerLink="propos" class="nav-link px-3 link-dark">A propos</a></li>
      <li><a routerLink="contact" class="nav-link px-3 link-dark">Contactez-nous</a></li>


    </ul>

    <!--<div class="col-md-3 text-end">
      <button type="button" routerLink="signin" class="btn  light-blue accent-2 btn-lg me-2 waves-effect waves-light">Connexion</button>
      <button type="button" routerLink="signup" class="btn light-blue accent-2  btn-lg waves-effect waves-light">Inscription</button>
    </div>-->
  </header>
</div>
