

<div class="container">
  <div class="row top-50">
    <div class="col s7 push-s5" >




      <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Adresse</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Nom et prenom" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <p>Go to a different step to see the error state</p>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                     required>
            </mat-form-field>
            <div>
              <p>Go to a different step to see the error state</p>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>


      </div>
      <div class="col s5 pull-s7" >

      <img class="materialboxed" width="100%" src="../../../assets/reservation.png">

          <p class="col mt-4"><i class="fa fa-map-marker " ></i> Abidjan , Côte d'ivoire. </p>
          <p class="col mt-4"><i class="fa fa-envelope " ></i> info&#64;soutramoi.com </p>

          <p class="col mt-4"><i class="fa fa-phone " ></i> +225 05 64 55 57 00 </p>


        </div>

    </div>
  </div>

