
<div class="container top-50"  style="background: linear-gradient(to bottom, #3498db, #fff);margin-bottom: 100px;">
  <div class="row">
    <div class="col-md-6">
      <p class="fs-2 text-center fw-bold mt-5 lh-lg">Réserver tous vos services de jardinage</p>
      <p class="fs-4 text-center lh-lg">Réparation de pelouses et de gazons, tonte de gazon Taille des arbres et arbustes, Entretien de pelouses</p>
      <!--<div class="d-grid gap-2 col-6 mx-auto">
        <button  routerLink="/abonnement" class="btn btn-primary mb-5 btn-lg">Abonner vous à ce service</button>
     </div>-->
    </div>
    <div class="col-md-6">
      <img src="../../../assets/j1.png"  style="width: 50%;float: inline-end;" alt="Your Image" class=" float-right">
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col fs-4">
      <span class="fw-bold">56 +</span>
    <br/>
    Jardinier pour vous aider
    </div>
    <div class="col fs-4">
      <span class="fw-bold">68 +</span>
      <br/>

Petits travaux réalisés grâce à Soutramoi
    </div>
    <div class="col fs-4">
      <span class="fw-bold">4.5/5</span>
      <br/>


<p>Note Moyenne des jardiniers</p>
    </div>
  </div>
</div>
<div class="container text-center fs-2 mt-5">
  Ne laissez pas vos soucis à la maison attendre!
</div>

<div class="container text-center fs-5 mt-3 mb-5">
  Commandez votre service de dépannage dès maintenant!
</div>

<div class="container">
  <!--<div class="row">
      <div class="col"  >
        <p class="text-left fs-5">Dépannage de systèmes d'irrigation</p>
          <img src="../../../assets/j2.png" class="card-img-top" alt="..." style="width: 20rem;">
          <button  routerLink="/reservation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Reserver</button>
      </div>
      <div class="col" >
        <p class="text-left fs-5">Aménagement paysager</p>
          <img src="../../../assets/j3.png" class="card-img-top" alt="..." style="width: 20rem;">
          <button  routerLink="/reservation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Reserver</button>
      </div>
      <div class="col"  >
        <p class="text-left fs-5">Réparation de tondeuses </p>
        <a routerLink="/menuiserie">
          <img src="../../../assets/j4.png" class="card-img-top" alt="..." style="width: 20rem;">
          <button  routerLink="/reservation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Reserver</button>
        </a>
      </div>
  </div>

  <div class="row">
    <div class="col" >
      <p class="text-left fs-5">Dépannage et gestion de l'eau</p>
        <img src="../../../assets/j5.png" class="card-img-top" alt="..." style="width: 20rem;">
        <button  routerLink="/reservation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Reserver</button>
    </div>
    <div class="col" >
      <p class="text-left fs-5">Réparation de mobilier de jardin</p>
        <img src="../../../assets/j6.png" class="card-img-top" alt="..." style="width: 20rem;">
        <button  routerLink="/reservation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Reserver</button>
    </div>
    <div class="col"  >
      <p class="text-left fs-5">Réparation de pelouses et de gazons</p>
      <a routerLink="/menuiserie">
        <img src="../../../assets/j7.png" class="card-img-top" alt="..." style="width: 20rem;">
        <button  routerLink="/reservation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Reserver</button>
      </a>
    </div>
</div>-->
<div class=" col-md-6 offset-md-3 mb-5 top-50">


  <form *ngIf="!formSubmitted" [formGroup]="signupJardinageForm" (ngSubmit)="onSubmit()">

    <div class="col-12  mb-3 top-50">
      <label for="InputLastname" class="form-label">Nom et Prénom</label>
      <input type="text" class="form-control" id="InputLastname" formControlName="name" aria-describedby="emailHelp" required>
      <div *ngIf="signupJardinageForm.get('name')?.invalid && signupJardinageForm.get('name')?.touched">
        Le service est requis
      </div>
    </div>

    <div class="input-field  col-12  mb-3">
      <select #select1 required formControlName="service">
        <option value="" disabled selected>Service</option>
        <option value="depannage_de_systemes_d_irrigation">Dépannage de systèmes d'irrigation</option>
        <option value="amenagement_paysager">Aménagement paysager</option>
        <option value="reparation_de_tondeuses">Réparation de tondeuses</option>
        <option value="depannage_et_gestion_de_l_eau">Dépannage et gestion de l'eau</option>
        <option value="reparation_de_mobilier_de_jardin">Réparation de mobilier de jardin</option>
        <option value="reparation_de_pelouses_et_de_gazons">Réparation de pelouses et de gazons</option>
      </select>
      <div *ngIf="signupJardinageForm.get('service')?.invalid && signupJardinageForm.get('service')?.touched">
        Le service est requis
      </div>
    </div>
    <div class="col-12  mb-3">
      <label for="InputVille" class="form-label">Ville</label>
      <input type="text" class="form-control" id="InputVille" formControlName="ville" aria-describedby="emailHelp" >
      <div *ngIf="signupJardinageForm.get('ville')?.invalid && signupJardinageForm.get('ville')?.touched">
        Votre ville est requis
      </div>
    </div>
    <div class="col-12  mb-3">
      <label for="InputCommune" class="form-label">Commune</label>
      <input type="text" class="form-control" id="InputCommune"formControlName="commune" aria-describedby="emailHelp" >
      <div *ngIf="signupJardinageForm.get('commune')?.invalid && signupJardinageForm.get('commune')?.touched">
        Votre commune est requis
      </div>
    </div>

    <div class="col-12  mb-3">
      <label for="InputTelephone" class="form-label">Téléphone</label>
      <input type="text" class="form-control" id="InputTelephone"  formControlName="tel" aria-describedby="emailHelp" >
      <div *ngIf="signupJardinageForm.get('tel')?.invalid && signupJardinageForm.get('tel')?.touched">
        Votre téléphone est requis
      </div>
    </div>


    <div class="d-grid gap-2 col-6 mx-auto top-50">
       <button type="submit" class="btn light-blue accent-2 waves-effect waves-light">Je réserve</button>
    </div>
  </form>
  <div *ngIf="formSubmitted" class="card-panel col-12  mb-3 top-50">
    <span class="blue-text text-darken-2"> Requête soumise nous vous reviendrons sou peu</span>
  </div>
<!--<div class="col s5 pull-s7"> <img src="image1.jpg" class="responsive-img" alt="Image 1"></div>-->
</div>
</div>

<!--<div class="container text-center fs-5 mt-5">
  Vous  ne trouvez pas votre panne ?
  <p><button  routerLink="/personnalisation" class="btn light-blue mt-3 accent-2 waves-effect waves-light">Créer un service personnalisé</button></p>
</div>-->
<!--<div class="container text-center fs-3">
  Choisissez votre ménusier
</div>
<div class="container text-center fs-5">
  Evaluations, badges qualité, expérience et matériel:
vous avez toutes les clés pour faire le bon choix
</div>
<div class="container mt-5">
  <div class="row">
      <div class="col me-5" style="background: linear-gradient(180deg, #70D6FF 0%, rgba(112, 214, 255, 0.00) 100%);">
          <img src="../../../assets/me1.png" class="card-img-top ps-5 pt-5" alt="..." style="width: 18rem;">
          <p class="col mt-4">Bonjour Je suis Jordan Kouamé menuisier expérimenté(8ans). </p>
          <button  routerLink="/profil" class="btn btn-outline-primary mt-5 btn-lg me-2">Voir le profil</button>
      </div>
      <div class="col me-5" style="background: linear-gradient(180deg, #70D6FF 0%, rgba(112, 214, 255, 0.00) 100%);">
          <img src="../../../assets/me2.png" class="card-img-top  ps-5 pt-5" alt="..." style="width: 18rem;">
          <p class="col mt-4">Alex est un menuisier passionné. Création de meubles sur mesure,
            spécialité dans l'artisanat unique.</p>
          <button  routerLink="/profil" class="btn btn-outline-primary mt-5 btn-lg me-2">Voir le profil</button>

      </div>
      <div class="col me-5"  style="background: linear-gradient(180deg, #70D6FF 0%, rgba(112, 214, 255, 0.00) 100%);">

          <img src="../../../assets/me3.png" class="card-img-top  ps-5 pt-5" alt="..." style="width: 18rem;">
          <p class="col mt-4">Eric Amani ,menuisière polyvalent. Création, réparation, dépannage. Qualité assurée.</p>
          <button routerLink="/profil" class="btn btn-outline-primary mt-5 btn-lg me-2">Voir le profil</button>


      </div>
  </div>

  <p class="float-end fs-5 mt-5 fw-bold">voir plus <img src="../../../assets/arrow.png" alt="..." ></p>
</div>-->
<div class="container text-center fs-2 mt-5 fw-bold border-top "><h1 class="top-50">Réparer ses objets n'a jamais été aussi facile</h1></div>
<div class="container text-center fs-2 mt-5"><button routerLink="/signupPrestataire" class="btn light-blue mt-3 accent-2 waves-effect waves-light mb-5 ">Devenir prestataire</button></div>



